<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car details shop</title>
    <link href="css/bootstrap-4.0.0.css" rel="stylesheet">
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
  	<ul class="navbar-nav mr-auto p-1">
	  <li class="nav-item"><img src="../../../../Pictures/logo.png" alt="logo" width="101" height="101" class="img-fluid"></li>
	  <li class="nav-item mr-auto"><a class="navbar-brand pl-2" href="#">Car Details Shop</a></li>
	  <li class="nav-item mr-auto"><a class="nav-link" href="#">Форум</a></li>
	  <li class="nav-item mr-auto"><a class="nav-link" href="#">Доставка</a></li>
	  <li class="nav-item mr-auto"><a class="nav-link" href="#">Оплата</a></li>
	  <li class="nav-item mr-auto"><a class="nav-link" href="#">Поставщики</a></li>
	  <li class="nav-item mr-auto"><a class="nav-link" href="#">О нас</a></li>
	</ul>
		<div class="btn-group">
<button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Караганда
	  </button>
	  <div class="dropdown-menu dropdown-menu-right text-right">
		<button class="dropdown-item" type="button">Выбрать другой город</button>
	  </div>
	</div>
	</div>
</nav>
<div class="jumbotron">
  <div class="container">
      <div class="row">
        <div class="input-group input-group-lg">
          <div class="container">
            <h4 class="mb-2">Заказывайте детали, экономя своё время</h4>
          </div>
          <input type="text" class="form-control m-2" placeholder="Напишите номер детали, модель машины или производителя" style="border-radius: 10px">
        </div>
      </div>
  </div>
  </div>
  <div class="container p-2 w-75">
<h3 class="p-3">Каталоги автозапчастей</h3>
	<div>
	  <ul id="clothingnav1" class="nav nav-tabs" role="tablist">
	    <li class="nav-item"> <a class="nav-link active" href="#" id="light" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Легковые</a></li>
	    <li class="nav-item"> <a class="nav-link" href="#" role="tab" id="commercial" data-toggle="tab" aria-controls="commercial">Коммерческие</a></li>
		 <li class="nav-item"> <a class="nav-link" href="#" role="tab" id="moto" data-toggle="tab" aria-controls="moto">Мото</a></li>
		 <li class="nav-item"> <a class="nav-link" href="#" role="tab" id="service" data-toggle="tab" aria-controls="service">Тех.обслуживание</a></li>
      </ul>
	  <!-- Content Panel -->
	  <div id="clothingnavcontent1" class="tab-content">
	    <div role="tabpanel" class="tab-pane fade show active" id="light_tab" aria-labelledby="light">
	      <table class="table table-borderless" width="75%">
	        <tbody>
	          <tr>
	            <td></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
              </tr>
	          <tr>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="" class=""></a></td>
              </tr>
	          <tr>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
              </tr>
	          <tr>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
              </tr>
	          <tr>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class=""></a></td>
	            <td><a href="#" class="">Смотреть все</a></td>
				</tr>
            </tbody>
          </table>
	      <table class="table"></table>
        </div>
<!--		  copy table in tabs(commercial, moto, service)-->
<!--
	    <div role="tabpanel" class="tab-pane fade" id="commercial_tab" aria-labelledby="commercial">
	      <table class="table"></table>
        </div>
-->
      </div>
    </div>
    <h3 class="p-3"> Товары</h3>
    <div class="row">
    <div class="card col-sm m-1"> <img src="images/parts_logo.png" alt="Auto parts" width="150" height="150" class="card-img-top mt-2 img-fluid">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Автозапчасти</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
    </div>
      <div class="card col-sm m-1"> <img src="images/car_body_logo.png" alt="Car body" width="150" height="150" class="card-img-top mt-2 img-fluid">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Кузовные запчасти</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
      <div class="card col-sm m-1"> <img src="images/oils_logo.png" alt="Oils" width="150" height="150" class="card-img-top mt-2 img-fluid">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Масла, жидкости и автохимия</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
      <div class="card col-sm m-1"> <img src="images/wheel_logo.png" alt="Wheels" width="150" height="150" class="card-img-top mt-2 img-fluid">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Шины и диски</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
    </div>
    <div class="row">
      <div class="card col-sm m-1"> <img src="images/car_light_logo.png" alt="Lights" width="150" height="150" class="card-img-top mt-2 img-fluid">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Освещение</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
      <div class="card col-sm m-1"> <img src="images/electronics_logo.png" alt="Electronics" width="150" height="150" class="card-img-top mt-2 img-fluid">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Аудио и электроника</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
      <div class="card col-sm m-1"> <img class="card-img-top mt-2 img-fluid" src="images/tools_logo.png" width="150" height="150" alt="Tools">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Инструменты и оборудование</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
      <div class="card col-sm m-1"> <img class="card-img-top mt-2 img-fluid" src="images/others_logo.png" width="150" height="150" alt="Others">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Другие товары</h5>
          <a href="#" class="btn btn-primary mt-auto">Смотреть товары</a></div>
      </div>
    </div>
  </div>
  <div class="container w-75 pt-3 pb-3">
    <h3>Оставить отзыв</h3>
    <form>
      <div class="form-group"><img src="images/comment pic.png" alt="Placeholder image" width="180" class="img-fluid float-right align-middle" style="vertical-align: middle">
        <label for="name">Ваше имя</label>
        <input type="text" class="form-control w-50" id="name" placeholder="Введите имя">
        <label for="comment">Ваше мнение</label>
        <textarea type="text" class="form-control w-50" id="comment" placeholder="Поделитесь своим отзывом"></textarea>
      </div>
    </form>
  </div>
  <footer class="modal-footer">
    <div class="container">
      <footer class="footer">
        <div class="container text-white" style="font-size: 20px">
          <div class="float-left">
            <h4>Наши контакты:</h4>
            +7-777-123-56-78<br>
            example@mail.com </div>
<div class="float-right">
          <h4>Мы в социальных сетях</h4>
          <div class="row float-right">
              <div class="col"><a href="https:\\vk.com"><img src="images/vk logo.png" alt="VK" width="50" height="50" class="img-fluid" ></a></div>
              <div class="col"><a href="https:\\instagram.com"><img src="images/ig_logo.png" alt="IG" width="50" height="50" class="img-fluid"></a></div>
              <div class="col"><a href="https:\\facebook.com"><img src="images/fb logo.png" alt="FB" width="50" height="50" class="img-fluid"> </a></div>
            </div>
          </div>
		</div>
      </footer>
    </div>
  </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>