{% extends "wrapper.html" %}
{% load static %}
{% block content %}
<div class="container p-2">
  <h3>Доставка запчастей по Казахстану</h3>
  <hr>
  <h4>Доставка с зарубежных складов</h4>
  <span>
При заказе запчастей с зарубежных складов России, ОАЭ, Японии, США, Корреи, а так же Европейских стран, к стоимости запчастей прибавляется стоимость их доставки до центрального склада в Казахстане.
Стоимость доставки расчитывается автоматически при добавлении в корзину заказов.
Внимание! При отправке крупногабаритных, объёмных и хрупких грузов отправленных отдельным местом (кузовных деталей, подкрылков, защит, стекол, глушителей и т.п.) с зарубежных складов, потребуется дополнительная плата за транспортировку, по факту прибытия в Казахстан, в пределах от 5$ до15$ за кг.  в зависимости от страны поставщика, а так же объёма и веса.</span>
	<hr>
  <h4>Доставка по СНГ</h4>
  <span>
В случае доставки за пределы Казахстана стоимость и способ доставки расчитывается отдельно. 
Для расчета стоимости доставки необходимо обращаться к вашему менеджеру.
</span>
<span>В случае если ни один способ доставки не подошел вам, предложите вашему менеджеру способ который устроил бы вас лично.
</span>
</div>
{% endblock %}