{% extends "wrapper.html" %}
{% load static %}
{% block content %}
<div class="container p-2">
	<h3>Поставщики автозапчастей</h3>
	<hr>
  <span> К порталу Car Shop Details подключены в основном только проверенные и крупные поставщики запчастей и поэтому возможность брака или продажи некачественной продукции исключены. Весь товар отвечает самым строгим мировым требованиям стандартов качества
</span>
	<br>
<span>
Предлагающих оптовые цены на автозапчасти следующих марок  BMW, БМВ, Mercedes,Мерседес-Бенс, Toyota, Тойота, Lexus, Лексус, Nissan, Ниссан, Infiniti, Инфинити, Mitsubishi, Митсубиси, Suzuki, Сузуки, Subaru, Субару, Land Rover, Ленд Ровер, Opel, Опель, Audi, Ауди,  Volkswagen, Фолксваген,  Skoda, Шкода, Ford, Форд, Honda, Хонда, Hyundai, Хундай, Mazda, Мазда, Saab, Сааб, Renault, Рено, Volvo, Вольво, Isuzu, Исузу,Daihatsu, Дайхацу, Citroen, Ситроен, Chrysler, Крайслер, Chevrolet, Шевролет, Chery, Чери, Cadillac, Кадилак,  Alfa Romeo, Альфа Ромео и другие</span>
<hr>
<h3>Склады крупных поставщиков ОАЭ, США, Россия, Германия, Япония:</h3>
	<div class="row p-2">
	<div class="col text-center m-1"><img src="{% static 'images/1.jpg' %}" width="200"></div>
	<div class="col text-center m-1"><img src="{% static 'images/2.jpg' %}" width="200" height="134"></div>
	<div class="col text-center m-1"><img src="{% static 'images/3.jpg' %}" width="200" height="134"></div>
	<div class="col text-center m-1"><img src="{% static 'images/4.jpg' %}" width="200" height="134"></div>
	<div class="col text-center m-1"><img src="{% static 'images/5.jpg' %}" width="200" height="134"></div>
	<div class="col text-center m-1"><img src="{% static 'images/6.jpg' %}" width="200" height="134"></div>
	<div class="col text-center m-1"><img src="{% static 'images/7.jpg' %}" width="200" height="134"></div>
	<div class="col text-center m-1"><img src="{% static 'images/8.jpeg' %}"  width="200" height="134"></div>
</div>
</div>
{% endblock %}